body {
	background: #f9e933; 
	font-family: 'Droid sans';
	font-size: 100%;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
	color: red;
}

h1, h2, h3, h4 {
	font-family: Ubuntu;
	font-size: 120%;
}

header, main, footer { 
	min-width: 855px;
}

header .container, main .container, footer .container { 
	max-width: 855px;
	margin: auto;
}

header { 
	background: white; 
	overflow: auto;
	margin-bottom: 3px;
	padding: 10px;
}
header h1 {
	float: left;
	width: 570px;
	font-size: 300%;
	font-style: italic;
}
header nav {
	float: right;
	width: 285px;
}
main { 
	background: white; 
	overflow: auto;
	padding: 20px;
}
main .main_block {
	float: left;
	width: 570px;
}
main .image {
	float: right;	
	width: 285px;
}

main .faq {
	float: left;
	width: 855px;
}

main .faq p {
	margin-top: 5px;
	margin-bottom: 5px;
}

main h2 {
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
}

main h3 {
	margin-top: 10px;
	margin-bottom: 5px;	
}

ul{
	list-style: circle;
	list-style-position: inside;
}

footer {
	overflow: auto;
	padding: 10px;
}

footer .contact {
	float: left;
	width: 570px;
}
 
footer .sitemap {
	float: right;	
	width: 285px;
}

.tabs a span {
	display: inline-block; 
	border-radius: 5px 5px 0 0; 
	width: 120px; 
	margin-right: 10px; 
	text-align: center; 
	background: #ccc; 
	padding: 5px;
}

.tabs a span.active { 
	background: #ddd; 
}

.content {
	background: white;
	padding-bottom: 10px;
}

.content li{
	list-style: none;
	margin:  10px;
	padding-left: 5px;
	box-shadow: 0 0 0 10px #ddd;
}

.content input {
	width: 85%;
	height: 36px;
	margin: 10px;
	font-family: Jura;
	text-align: justify;
	font-size:  24px;
	box-shadow: 0 0 0 10px #ddd;
}
.content button {
	height: 40px;
	width: 11%;
	min-width: 90px;
	font-size: 16px;
	margin:10px;
	font-family: Ubuntu;
	background: white;
	box-shadow: 0 -3px 0 11px #ddd;
}



