body {
	background: #e9432d;
	font-family: Ubuntu;
	font-size: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: red;
}

header .container,
aside .container,
main .container,
footer .container {
	max-width: 1200px;
	margin: auto;
}

header,
main,
footer {
	min-width: 855px;
}

header {
	background: white;
	overflow: auto;
	margin-bottom: 3px;
	padding: 10px;
}

header nav {
	float: right;
	padding-top: 15px;
}

header img {
	float: left;
	margin: 0 auto;
	height: 100%;
}

header .title {
	font-family: Magneto_RUS_A;
	text-decoration: none;
	width: 100%;
	font-size: 500%;
	font-style: italic;
	color: black;
}

header .title:hover {
	color: red;
	text-decoration: none;
}

main {
	background: white;
	overflow: auto;
	padding: 20px;
}

main .authorization {
	max-width: 1200px;
	background: #ddd;
	margin: auto;
	border-radius: 5px;
}

main .authorization p {
	padding: 15px;
	padding-bottom: 0px;
	font-size: 20px;
}

main .authorization input {
	font-family: Ubuntu;
	margin: 10px;
	font-size: 18px;
	padding: 5px;
	padding-right: 60px;
	border: 2px solid black;
	border-radius: 8px;
}

main .authorization button {
	font-family: Ubuntu;
	top: 50px;
	left: 50px;
	/*расстояние от края*/
	font-size: 18px;
	border-radius: 8px;
	border: 2px solid black;
	padding: 5px;
	margin: 10px;
	text-align: center;
	float: right;
}

main .main_block {
	float: left;
	width: 570px;
}

main .image {
	float: right;
	width: 285px;
}

main .tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 150px;
	margin-right: 10px;
	text-align: center;
	font-size: 20px;
	background: #ccc;
	padding: 10px;
}

main .tabs a span.active {
	background: #ddd;
}

footer {
	overflow: auto;
	padding: 10px;
	font-size: 18px;
	color: white;
	color: #f9bf29;
}

footer .contact {
	float: right;
	text-align: right;
	width: 570px;
	padding-top: 15px;
}

.content {
	background: white;
	padding-bottom: 10px;
}

.content li {
	list-style: none;
	margin: 10px;
	padding-left: 5px;
	font-size: 20px;
	border: right;
	padding: 10px;
	box-shadow: 0 0 0 10px #ddd;
}

.content p {
	padding: 15px;
	font-size: 20px;
	color: red;
}

.content input {
	font-family: Ubuntu;
	width: 1160px;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	box-shadow: 0 0 0 10px #ddd;
}

.content h3 {
	margin: 10px;
	font-size: 20px;
}

.content button {
	font-family: Ubuntu;
	font-size: 24px;
	margin: 10px;
	margin-top: 30px;
	width: 20%;
	padding: 10px;
	background: white;
	box-shadow: 0 0 0 10px #ddd;
}

.linkEdit {
	display: inline-block;
	float: right;
	vertical-align: center;
}

.linkEdit:hover {
	padding: 0px;
	background: #f9bc2a;
	color: white;
	text-decoration: none;
}

.linkRemove {
	display: inline-block;
	float: right;
	vertical-align: center;
}

.linkRemove:hover {
	background: #ea5f55;
	color: white;
	text-decoration: none;
}