@import "_reset";
@import "inputs";

html {
	height: 100%;
}

body {
	background: #e9432d;
	font-family: Ubuntu;
	font-size: 100%;

	display: flex;
	flex-direction: column;
	height: 100%;
}

header,
main,
footer {
	min-width: 855px;
}

.container {
	max-width: 1200px;
	margin: auto;
}

a {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: underline;
		color: red;
	}
}

header {
	flex: 0 0 auto;
	background: white;
	overflow: auto;
	margin-bottom: 3px;
	padding: 10px;

	nav {
		float: right;
		padding-top: 15px;
	}

	.logo {
		position: relative;
		display: inline-block;
		height: 200px;

		&::after {
			/* text */
			content: "Кчау";
			font-family: Magneto_RUS_A;
			font-size: 3rem;
			font-style: italic;
			color: black;
			text-shadow: -7px 5px 2px rgb(0 0 0 / 26%);
			border-bottom: 2px solid transparent;
			opacity: 0;

			/* position and size */
			position: absolute;
			top: calc(50% - 1.5rem);
			left: 0;
			z-index: 1;
			transform: translateX(50%);

			/* transition */
			transition: transform 1s, color 2s, border-color 1.5s ease-out,
				opacity 0.5s;
		}

		&:hover::after {
			color: red;
			border-color: red;
			opacity: 1;
			transform: translateX(220%);
		}
	}

	img {
		float: left;
		margin: 0 auto;
		height: 100%;
		position: relative;
		z-index: 100;
	}

	.title {
		font-family: Magneto_RUS_A;
		font-style: italic;
		text-decoration: none;
		font-size: 5rem;
		width: 100%;
		color: black;

		&:hover {
			color: red;
			text-shadow: -7px 5px 2px rgb(0 0 0 / 26%);
		}
	}
}

main {
	flex: 1 0 auto;
	background: white;
	overflow: auto;
	padding: 20px;

	& .authorization {
		max-width: 1200px;
		background: #ddd;
		margin: auto;
		border-radius: 5px;
		overflow: hidden;

		display: flex;
		flex-wrap: wrap;
		gap: 15px;

		.form {
			flex: 0 0 calc(50% - 7.5px);

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 15px;
			gap: 15px;

			& p {
				font-size: 20px;
			}

			& input {
				font-family: Ubuntu;
				font-size: 18px;
				padding: 5px;
				border: 2px solid black;
				border-radius: 8px;

				&:focus {
					outline: none;
					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
				}
			}
		}

		.buttons {
			flex: 0 0 calc(50% - 7.5px);

			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-wrap: wrap;
			gap: 15px;

			padding: 15px;

			& button {
				font-family: Ubuntu;
				cursor: pointer;
				font-size: 18px;
				border-radius: 8px;
				border: 2px solid black;
				padding: 5px 10px;
				text-align: center;

				&:hover,
				&:active {
					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
				}

				&:active {
					color: rgba(0, 0, 0, 0.26);
				}
			}
		}
	}

	.tabs {
		a span {
			display: inline-block;
			margin-right: 10px;
			padding: 10px 20px;
			text-align: center;
			font-size: 20px;
			border-radius: 5px 5px 0 0;
			background: #ccc;
			color: #1f1f1f;
			box-shadow: inset 3px -2px 8px rgba(0, 0, 0, 0.26);

			&.active {
				background: #ddd;
				color: black;
				box-shadow: none;
			}
		}
	}

	.content {
		background: white;
		border: 10px solid #ddd;
		padding: 15px;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;

			list-style: none;
			margin: 10px;
			font-size: 20px;
			padding: 10px;
			box-shadow: 0 0 0 8px #ddd;

			&:first-child {
				border-radius: 10px 10px 0 0;
			}
			&:last-child {
				border-radius: 0 0 10px 10px;
			}
			&:first-child:last-child {
				border-radius: 10px 10px 10px 10px;
			}
		}

		h3 {
			margin: 10px 0;
			font-size: 20px;
		}

		.add-form {
			display: flex;
			flex-direction: column;

			button {
				align-self: flex-end;
				cursor: pointer;
				font-family: inherit;
				font-size: 20px;
				margin: 10px;
				width: 20%;
				padding: 10px;
				background: white;
				box-shadow: 0 0 0 10px #ddd;
				border: none;

				transition: all 0.2s ease-out;

				&:hover {
					box-shadow: 0 0 0 8px #ddd, inset 0 0 0 3px #ededed;
				}
			}

			input {
				font-family: inherit;
				font-size: 20px;
				width: 100%;
				padding: 10px;
				margin: 10px 0;
				border: 8px solid #ddd;

				&:focus {
					outline: none;
				}
			}
		}

		/* Links (Profile) */
		.link {
			display: inline-block;
			padding: 10px 25px;
			flex: 0 0 20%;
			text-align: center;
			border-radius: 6px;
			color: #404040;

			&:hover {
				text-decoration: none;
			}

			transition: all 0.3s ease-out;

			&-edit {
				background: #f8e4b4;
				&:hover {
					background: #f9bc2a;
					color: white;
				}
			}

			&-remove {
				background: #e7a29d;
				&:hover {
					background: #ea5f55;
					color: white;
				}
			}
		}
	}
}

footer {
	flex: 0 0 auto;
	overflow: auto;
	padding: 10px;
	font-size: 18px;
	color: #f9bf29;

	footer .contact {
		float: right;
		text-align: right;
		width: 570px;
		padding-top: 15px;
	}
}
